 /* *{
  outline: red solid 1px;
} */

body,
html {
    height: 100%;
    margin: 0;
    font: 400 15px/1.8 fantasy, sans-serif;
    color: #777;
}

p {
    color: white;
}

h3 {
    letter-spacing: 5px;
    text-transform: uppercase;
    font: 20px fantasy, sans-serif;
    color: #777;
    text-align: center;
}

/*navbar*/

nav {
    background-color: black;
    position: fixed;
    z-index: 1;
    top: 0;
    transition: top 0.2s ease-in-out;
    width: 100%;
}

.nav-up {
    top: -60px;
}

.nav-bar {
    padding-top: 15px;
}

.nav-content {
    font-size: 18px;
    margin-right: 15px;
    color: #777;
}

/* .github, .email{
margin-top: 4px;
} */

a:focus,
a:hover {
    color: white;
    text-decoration: none;

}

.bkimg-1,
.bkimg-2,
.bkimg-3,
.bkimg-4 {
    position: relative;
    opacity: 1;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.bkimg-1 {
    background-image: url("https://files.opencanada.org/images/RTX1B5CT.2e16d0ba.fill-940x627.jpg");
    min-height: 100%;
}

.bkimg-2 {
    background-image: url("https://ak6.picdn.net/shutterstock/videos/24453860/thumb/1.jpg");
    min-height: 100%;
}

.bkimg-3 {
    background-image: url("https://interactive.aljazeera.com/aje/2017/ramadan-2017-moonsight/moon-phases/moon26.jpg");
    min-height: 100%;
}

.bkimg-4 {
    background-image: url("https://doninmass.files.wordpress.com/2013/05/space-sunrise-background-widescreen-earth-wallpapers.jpg");
    min-height: 100%;
}

.caption {
    position: absolute;
    left: 0;
    top: 18%;
    width: 100%;
    text-align: center;
    color: #000;
}
.caption-form{
top: 10%
}

.caption .border {
    color: #fff;
    padding: 18px;
    font-size: 25px;
    letter-spacing: 10px;
    font-family: fantasy;
}

.imgofme {
    height: 150px;
    width: 150px;
    border-radius: 20%;
    border: 1px white solid;
}

.about-me {
    color: #777;
    background-color: white;
    text-align: center;
    text-align: justify;
    padding: 50px 80px;
}

.about-me-info {
    color: #777;
}

.info {
    color: white;
    background-color: rgba(78, 78, 78, 1.0);
    text-align: center;
    padding: 50px 80px;
    text-align: justify;
}

.border {
    background-color: transparent;
    font-size: 25px;
    color: whitesmoke;
}

.animation {
    background-color: transparent;
    font-size: 25px;
    color: whitesmoke;
}

/* .flex-it{
display: flex;
} */

.flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 30%;
}

.gallery {
    width: 100%;
    height: auto;
    border-radius: 25%;
}

/* .gallery:hover {
box-shadow: 0 0 50px white;
border-radius: 25%;
} */

.project-img, .skill-img {
    height: auto;
    width: 100%;
    border-radius: 25%;
    transition-duration:0.4s;
    transform: scale(1);
}

.project-img:hover {
    box-shadow: 0 0 50px white;
    transition-duration:0.4s;
    transform: scale(1.2);
  
}

.projects-description {
    margin-top: 15px
}

.animation {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    overflow: hidden;
    /* border-right:.15em solid white; */
    white-space: nowrap;
    margin: 0 auto;
    letter-spacing: 10px;
    animation: typing 3s steps(29, end) 1;
    /* blink-caret .75s step-end infinite; */
}
.blinking-span {
    animation: blink 1s infinite;
}
/* ********* CONTACT FORM CSS ******* */
#contact-form {
    background-color:#F2F7F9;
    width:465px;
    padding:20px;
    margin: 20px auto;    
    border: 6px solid #8FB5C1;
    -moz-border-radius:15px;
    -webkit-border-radius:15px;
    border-radius:15px;
    position:relative;
}
 
#contact-form h1 {
    font-size:42px;
}
 
#contact-form h2 {
    margin-bottom:15px;
    font-style:italic;
    font-weight:normal;
}
 
#contact-form input, 
#contact-form select, 
#contact-form textarea, 
#contact-form label {
    font-size:15px;
    margin-bottom:2px;
}
 
#contact-form input, 
#contact-form select, 
#contact-form textarea {
    width:100%;
    border: 1px solid #CEE1E8;
    margin-bottom:20px;
    padding:4px;
}
 
#contact-form input:focus, 
#contact-form select:focus, 
#contact-form textarea:focus {
    border: 1px solid #AFCDD8;
    background-color: #EBF2F4;
}
 
#contact-form textarea {
    height:150px;
    resize: none;
}
 
#contact-form label {
    display:block;
}
 
#contact-form .required {
    font-weight:bold;
    color:#F00;    
}
 
#contact-form #submit-button {
    border-radius: 12px;
    width: 100px;
    background-color:#333;
    color:#FFF;
    border:none;
    display:block;
    float:right;
    margin-bottom:0px;
    margin-right:6px;
    background-color:#8FB5C1;

}
 
#contact-form #submit-button:hover {
    background-color: #A6CFDD;
}
 
#contact-form #submit-button:active {
    position:relative;
    top:1px;
}
 
#contact-form #loading {
    width:32px;
    height:32px;
    background-image:url(../img/loading.gif);
    display:block;
    position:absolute;
    right:130px;
    bottom:16px;
    display:none;
}
 
#errors {
    border:solid 1px #E58E8E;
    padding:10px;
    margin:25px 0px;
    display:block;
    width:437px;
    -webkit-border-radius:8px;
    -moz-border-radius:8px;
    border-radius:8px;
    background:#FFE6E6 url(../img/cancel_48.png) no-repeat 405px center;
    display:none;
}
 
#errors li {
    padding:2px;
    list-style:none;    
}
 
#errors li:before {
    content: ' - ';    
}
 
#errors #info {
    font-weight:bold;
}
 
#errors #info:before {
    content: '';    
}
 
#success {
    border:solid 1px #83D186;
    padding:25px 10px;
    margin:25px 0px;
    display:block;
    width:437px;
    -webkit-border-radius:8px;
    -moz-border-radius:8px;
    border-radius:8px;
    background:#D3EDD3 url(../img/accepted_48.png) no-repeat 405px center;
    font-weight:bold;
    display:none;
}
 
#errors.visible, #success.visible {
    display:block;    
}
 
#req-field-desc {
    font-style:italic;
    color: black;
}
 
/* Remove box shadow firefox, chrome and opera put around required fields. It looks rubbish. */
input:required, textarea:required {
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
    -o-box-shadow:none;
    box-shadow:none;
}
 
/* Normalize placeholder styles */
 
/* chrome, safari */
::-webkit-input-placeholder {
    color:#CCC;
    font-style:italic;
}
 
/* mozilla */
input:-moz-placeholder, textarea:-moz-placeholder {
    color:#CCC;
    font-style:italic;
}
 
/* ie (faux placeholder) */
input.placeholder-text, textarea.placeholder-text  { 
    color:#CCC;
    font-style:italic;
}
/* ********* END ******* */
@keyframes typing {
    from {
        width: 0;
    }
    to {
        width: 60%;
    }
}

@keyframes blink {
    to {
        opacity: .0;
    }
}

/* @keyframes blink {
 from, to { border-color: transparent }
 50% { border-color: white; }
} */


/* ******* MEDIA HEIGTH ******** */

 @media(max-height:910px) {
    .bkimg-2 {
        min-height: 120%
    }
    .bkimg-4 {
        min-height: 120%
    }
 }
 @media(max-height:780px) {
    .bkimg-3 {
        min-height: 120%
    }
    .bkimg-2 {
        min-height: 140%
    }
    .bkimg-4 {
        min-height: 150%
    }
 }
 @media(max-height:680px) {
    .bkimg-3 {
        min-height: 140%
    }
    .bkimg-2 {
        min-height: 160%
    }
    .bkimg-4 {
        min-height: 180%
    }
 }
 @media(max-height:590px) {
    .bkimg-3 {
        min-height: 160%
    }
    .bkimg-2 {
        min-height: 180%
    }
    .bkimg-4 {
        min-height: 200%
    }
 }
 @media(max-height:500px) {
    .bkimg-3 {
        min-height: 180%
    }
    .bkimg-2 {
        min-height: 200%
    }
    .bkimg-4 {
        min-height: 230%
    }
    .bkimg-1 {
        min-height: 120%
    }
 }
 @media screen and (max-height:450px) {
    .bkimg-1 {
        min-height: 150%
    }
    .bkimg-4, .bkimg-2 {
        min-height: 250%
    }
    .bkimg-3 {
        min-height: 200%
    }
 }
 @media(max-height:400px) {
    .bkimg-3 {
        min-height: 240%
    }
    .bkimg-2 {
        min-height: 270%
    }
 }
 @media(max-height:350px) {
    .bkimg-3 {
        min-height: 250%
    }
    .bkimg-2 {
        min-height: 280%
    }
 }
 @media(max-height:325px) {
    .bkimg-3 {
        min-height: 260%
    }
    .bkimg-4 {
        min-height: 280%
    }
 }
 @media(max-height:300px) {
    .bkimg-3 {
        min-height: 290%
    }
    .bkimg-4 {
        min-height: 290%
    }
 }
/* ******* MEDIA WIDTH ******** */

@media(max-width:991px){
    .project-img:hover {
        box-shadow: 0 0 50px white;
        transition-duration:0s;
        transform: scale(1);
    }
}
/* @media(max-width:768px) {
    .bkimg-3 {
        min-height: 240%
    }
 } */
@media(max-width:600px) {
    .animation {
        font-size: 19px;
    }
    .nav-bar {
        padding-top: 8px;
    }
    .nav-content {
        font-size: 14px;
        margin-right: 10px;
    }
    .caption-form{
        top: 8%
    }
    
}
@media(max-width:470px) {
    .nav-content {
        font-size: 12px;
        margin-right: 6px;
    }
    #contact-form{
        width: 90%
    }
}
 /* ******* THIS IS FOR IPHONE 7 PLUS ******** */
@media screen and (max-width:450px) {
    .bkimg-3 {
        min-height: 133%
    }
    .bkimg-2 {
        min-height: 250%
    }
    .bkimg-2 .caption{
      top: 10%
  }
}
 /* ******* THIS IS FOR SAMSUNG GALAXY S7 ******* */
@media screen and (max-width:400px) {
    .bkimg-3 {
        min-height: 154%
    }
    .animation {
        font-size: 13px;
    }
}
@media(max-width:370px) {
    .animation {
        font-size: 10px;
    }
    .nav-content {
        font-size: 10px;
        margin-right: 4px;
    }

}
@media screen and (max-width:355px) {
    .bkimg-3 {
        min-height: 180%
    }
}
 /* ******* THIS IS FOR IPHONE 6S ******** */
@media screen and (max-width:325px) {
    .bkimg-3 {
        min-height: 200%
    }
}
@media screen and (max-width:305px) {
    .bkimg-3 {
        min-height: 240%
    }
}

 /* Turn off parallax scrolling for tablets and phones */
@media only screen and (max-device-width: 600px) {
    .bkimg-1,
    .bkimg-2,
    .bkimg-3,
    .bkimg-4 {
        background-attachment: scroll;
    }
    
}

/* #region 
 to collapse comment blocks, make sure to indent
 or space eeveryhing inside the region
/* #endregion 